*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

body {
    background-image:url('./bola.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.login-form {
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: #fff;
    padding: 70px;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.login-form h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    color: #FC6305;
    text-shadow: 2px 2px 0 #000;
}

.login-form p {
    font-size: 20px;
    margin: 15px 0;
}

.login-form a{
    color: #FC6305;
}

.login-form input {
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.login-form button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    margin-left: 90px;
    margin-top: 50px;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    border: 0;
    background-color: #FC6305;
    color: #000;
}

.login-form button:hover{
    background-color: #111;
    color: #fff;
    transition: 250ms;
    cursor: pointer;
}